/*CSS Reset Rule*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	background-image: url(./images/building.png);
}

#navbar {
	text-decoration: none;
}

#landing {
	background-color: #008080;
}	

#projects {
	border-radius: 50px 50px 0px 0px;
	background-color: #008080;
}

#projects .card {
	width: 18rem;
}

#profile-pic {
	max-width: 450px;
	box-shadow: 10px 10px 50px #ccc;
}


#about {
	margin-top: 100px;
}

#about p {
	padding-left: 150px;
}


#tools {
	background-color: #008080;
}

#contact {
	background-color: #008080;
	border-radius: 0px 0px 50px 50px;
}

#contact a {
  text-decoration: none;
  font-size: 50px;
  color: white;
  border-radius: 25%;
  margin-right: 30px;
}

